.huddle-glyph-container {
  z-index: 10000;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  vertical-align: bottom;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border: 20px solid black;
}

.huddle-glyph {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.huddle-register-container {
  z-index: 10000;
  top: 0;
  left: 0;
  position: fixed;
  vertical-align: bottom;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
